/* تعریف فونت ها */
@font-face {
    font-family: 'roya';
    src: url(../../../fonts/BRoya.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}
 @font-face {
    font-family: 'roya';
    src: url(../../../fonts/BRoya.eot) format('eot');
    font-weight: bold;
    font-style: normal;
}